Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h.in
stamp-h1
*.[oa]
*.la
*.lo
.deps
.libs
